- content_for(:html_title) { '設定 - Ciita' }
= render 'settings/menu', active: 'password'
.setting-main
  .setting__form
    = simple_form_for(@user, url: settings_password_path) do |f|
      .form-group
        = f.input :old_password, input_html: {class: 'input-text'}
      .form-group
        = f.input :password, label: '新しいパスワード', placeholder: false, input_html: {class: 'input-text'}
      .form-group
        = f.button :submit, class: 'setting__form-submit'
