.signup-all-wrapper
  .signup-logo
    Ciita

  .signup-container
    .signup-title
      Ciitaにようこそ!
    .signup-lead
      新規登録(無料)して利用を開始しましょう。

    .signup-form
      = simple_form_for @user do |f|
        .form-group
          = f.input :screen_name, label: false, placeholder: 'ユーザ名', input_html: {class: 'form-control'}
        .form-group
          = f.input :email, label: false, placeholder: 'メールアドレス', input_html: {class: 'form-control'}
        .form-group
          = f.input :password, label: false, placeholder: 'パスワード', input_html: {class: 'form-control'}
        .form-group
          = f.button :submit, '登録する', class: 'signup-button'

    .login-leading
      もしQiitaのアカウントを持っている場合は
      = link_to 'ログイン', login_path
      から。
