%div
  = link_to "#{current_user.screen_name} アカウント", user_path(current_user.screen_name)
  \/
  パスワード

- if flash[:notice]
  %div
    = flash[:notice]

%div
  = simple_form_for(@user, url: settings_password_path, method: 'put') do |f|
    = f.input :old_password, label: false
    = f.input :password, label: false
    = f.button :submit, '更新する'
