.div
  @#{@user.screen_name}

.div
  = @user.items.size
  Items

- @user.items.each do |item|
  .div
    = link_to item.title, item_url(item)
  .div
    = link_to 'delete', item_url(item), method: :delete

%div
  = link_to 'アカウントを削除する', '/deactivate', data: { confirm: '一度アカウントを削除すると、二度と元に戻せませんが、よろしいですか？' }
