.user-show-info
  .user-show-info__screen-name
    @#{@user.screen_name}
  .user-show-info__item-count<
    = @user.items.size
    %span.user-show-info__item-count-unit
      Items

.user-show-item
  - @user.items.each do |item|
    .user-show-item__one
      .user-show-item__one-date
        = l item.created_at, format: :item
      .user-show-item__one-title
        = link_to item.title, item.url
      .user-show-item__one-tag-wrapper
        - item.tags.each do |tag|
          = link_to tag.name, tag_path(tag.name), class: 'user-show-item__one-tag'
