.tag-info
  .tag-info__name
    = @tag.name
  .tag-info__item-count<
    = @tag.items.size
    %span.tag-info__item-count-unit
      Items

.tag-item-list
  - @tag.items.each do |item|
    .tag-item
      .tag-item__date
        = l item.created_at, format: :item
      .tag-item__title
        = link_to item.title, item.url
      .tag-item__meta
        .tag-item__author
          by
          = link_to item.user.screen_name, user_path(item.user.screen_name)
        .tag-item__tag-wrapper
          - item.tags.each do |tag|
            = link_to tag.name, tag_path(tag.name), class: 'tag-item__tag'
