- content_for(:html_title) { "#{@item.title} - Ciita" }
.item-article
  .item-article__header
    = render 'article_header'
  .item-article__body
    = markdown @item.body
  .item-article__footer
    = render 'article_footer'
.comment-all-wrapper
  = render 'comment'
  .comment-new
    = render 'comment_form'
