%p#notice= notice

%p
  %b User:
  = @item.user.screen_name
%p
  %b Title:
  = @item.title
%p
  %b Body:
  = @item.body

.div
  - @item.tags.each do |tag|
    = link_to tag.name, tag_url(tag)

- @item.comments.each do |comment|
  .div
    = comment.user.screen_name
  .div
    = comment.body

= render 'comments/form'
