.setting__form
  = simple_form_for(@draft) do |f|
    .form-group
      = f.input :title, input_html: {class: 'input-text'}
    .form-group
      = f.input :tag_names, input_html: {class: 'input-text'}
    .form-group
      = f.input :body, input_html: {class: 'editor__textarea'}
    .form-group
      = f.select :type, Draft::TYPE, {selected: selected_draft_type(@draft)}, class: 'input-select'
    .form-group
      = f.button :submit, class: 'setting__form-submit'
