- content_for(:html_title) { '下書き一覧 - Ciita' }

.draft-list
  .draft-list__title
    = icon('fas', 'save')
    下書き一覧
  - get_drafts.each do |draft|
    .draft-item
      .draft-item__date
        = l draft.updated_at, format: :long
      .draft-item__title
        = draft.title
      .draft-item__action-wrapper
        = link_to '編集', edit_draft_path(draft), class: 'draft-item__action--edit'
        = link_to '削除', draft, method: :delete, class: 'draft-item__action--delete', data: { confirm: '本当に削除してもよろしいですか？' }
