%h1 Listing drafts

%table
  %thead
    %tr
      %th User
      %th Title
      %th Body
      %th
      %th
      %th

  %tbody
    - @drafts.each do |draft|
      %tr
        %td= draft.user
        %td= draft.title
        %td= draft.body
        %td= link_to 'Show', draft
        %td= link_to 'Edit', edit_draft_path(draft)
        %td= link_to 'Destroy', draft, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Draft', new_draft_path
